{% extends 'core/base.html' %}

{% block title %} Codo a Codo - Logística - Clientes {% endblock %}

{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'core/styles/pedidos.css' %}">
    <script src="{% static 'core/js/pedidos.js' %}"></script>
{% endblock %}

{% block content %}

    <br><h3>Panel de Clientes</h3>

    <div class="container">
        <form id="myForm">
            <div class="header">
                <h2>Crear envío</h2>
                <button type="reset" class="btn btn-outline-primary" title="Reiniciar formulario" data-toggle="popover" data-trigger="hover"><i class="bi bi-eraser-fill"></i></button>
            </div>
            <hr>
            <div class="servicios">
                <button class="interactivo btn btn-primary" type="button" onclick="showAndHide('sectionOne')">
                    <h3>Tipo de envío (servicio)</h3><h3>+</h3>
                </button>
                <div class="section" id="sectionOne" style="display: none">
                    <input type="radio" name="servicio" value="Courrier" id="GroupName1" ONCLICK="showRadioButtonDiv('GroupName', 3)">
                    <label for="GroupName1">Courier - Mensajería - Cadetes fijos</label><br>
                    <div id="GroupName1Div" style="display:none;">
                        <p>Ofrecemos el servicio de moto mensajería empresarial. Realizamos todo tipo de trámites y
                            gestiones
                            cotidianas de forma rápida y eficiente. Podemos reducir costos y optimizar los recursos de
                            nuestros
                            clientes. Nos caracterizamos por la responsabilidad con la que asumimos el trabajo, el tiempo de
                            respuesta y la calidad de nuestro servicio. Tenemos un staff fijo, altamente capacitado y
                            confiable.
                            Brindamos una gran cobertura en CABA Y TODO EL GBA.</p>
                    </div>
                    <input type="radio" name="servicio" value="Transporte" id="GroupName2" ONCLICK="showRadioButtonDiv('GroupName', 3)">
                    <label for="GroupName2">Transportes y cargas</label><br>
                    <div id="GroupName2Div" style="display:none;">
                        <p>Contamos con Utilitarios (Mini Fletes), Camionetas y Camiones urbanos y transportes para cargas
                            pesadas de larga distancias2
                            Traslados de mercancías en utilitarios mini fletes (hasta 500 kg).
                            Camionetas Urbanas tipo Master, F100, Boxer, Sprinter, Iveco hasta 3500kg.
                            Camiones Urbanos desde 3000 hasta 8000 kg agiles en CABA Y GBA.
                            Transporte pesado. Camiones Semis, playos, chasis, térmicos. Viajamos a todo el País.</p>
                    </div>
                    <input type="radio" name="servicio" value="ECommerce" id="GroupName3" ONCLICK="showRadioButtonDiv('GroupName', 3)">
                    <label for="GroupName3">E-Commerce y distribución de paquetería</label>
                    <div id="GroupName3Div" STYLE="display:none;">
                        <p>Recibimos, organizamos, ruteamos y entregamos paquetería en todo el AMBA.
                        Retiro de productos en el domicilio.
                        Entrega de tu producto en el domicilio del comprador.
                        Seguimiento de los envíos.
                        Depósito para utilizar como pickup store, lo cual tiene el beneficio de reducir costo de
                        entregar en domicilio.
                        Remito por cada envío que garantiza el seguimiento y correcta entrega del producto.
                        Beneficios por consolidación de varios paquetes a un mismo destinatario.
                        Beneficios para clientes con volumen de envíos.
                        Logística inversa.</p>
                    </div>
                </div>
            </div>
            <div class="rutaDeEntrega">
                <button class="interactivo btn btn-primary" type="button" onclick="showAndHide('sectionTwo')">
                    <h3>Ruta de entrega</h3><h3>+</h3>
                </button>
                <div class="section" id="sectionTwo" style="display: none">
                    <h3>Donde recojemos?</h3>
                    <div id="sectionTwoA">
                        <input type="text" class="form-control" id="dom1" name="dom1" placeholder="Dirección recolección"><br>
                        <input type="text" class="form-control" id="cp" placeholder="Código Postal"><br>
                        <input type="text" class="form-control" id="nroExt" placeholder="No. Exterior (altura)"><br>
                        <input type="text" class="form-control" id="nroInt" placeholder="No. Interior (opcional)"><br>
                        <input type="text" class="form-control" id="Instruct" placeholder="Instrucciones (opcional)"><br>
        
                        <h3>Datos de quien entrega</h3>
                        <div>
                            <input type="text" class="form-control" id="nombre" placeholder="Nombre *" required>
                            <br>
                            <input type="text" class="form-control" id="telefono" placeholder="Telefono *" required>
                        </div>
                    </div>
                    <h3>Donde entregamos?</h3>
                    <div id="sectionTwoB">
                        <input type="text" class="form-control" id="dom2" placeholder="Dirección recolección"><br>
                        <input type="text" class="form-control" id="cp2" placeholder="Código Postal"><br>
                        <input type="text" class="form-control" id="nroExt2" placeholder="No. Exterior (altura)"><br>
                        <input type="text" class="form-control" id="nroInt2" placeholder="No. Interior (opcional)"><br>
                        <input type="text" class="form-control" id="instruct2" placeholder="Instrucciones (opcional)"><br>
        
                        <h3>Datos de quien recibe</h3>
                        <div>
                            <input type="text" class="form-control" id="nombre2" placeholder="Nombre *" required>
                            <br>
                            <input type="text" class="form-control" id="telefono2" placeholder="Telefono *" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tipo">
                <button class="interactivo btn btn-primary" type="button" onclick="showAndHide('sectionThree')">
                    <h3>Tipo de paquete</h3><h3>+</h3>
                </button>
                <div class="section" id="sectionThree" style="display: none">
                    <select class="form-select" name="paquete" id="paquete">
                        <option selecter> Elige el tipo de paquete</option>
                        <option value="1">Sobre - Mensajero con mochila (Documentos, libros, sobres, etc)</option>
                        <option value="2">Caja pequeña - Máximo: Ancho:39.5 cm Alto:30.5cm, Peso: 1kg </option>
                        <option value="3">Caja mediana - Máximo: 30 L x 40 An x 30 Al (Hasta 15KG)</option>
                        <option value="4">Caja grande - Máximo: 40L x 50 An x 40 Al. (Hasta 25kg)</option>
                    </select><br>
                    <input type="text" class="form-control" id="referencia" placeholder="Referencia del paquete (opcional)"><br>
                    <input type="text" class="form-control" id="comentarios" placeholder="Comentarios (opcional)"><br>
                </div>
            </div>
            <div class="extras">
                <button class="interactivo btn btn-primary" type="button" onclick="showAndHide('sectionFour')">
                    <h3>Extras</h3><h3>+</h3>
                </button>
                <div class="section" id="sectionFour" style="display: none">
                    <!-- Trigger/Open The Modal -->
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary-outline" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Asegurar mi envío
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Asegurar mi envío</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <label for="formControlInput" class="form-label">Valor del paquete</label>
                                <input type="number" min="0" class="form-control" id="formControlInput" placeholder="Ingresa el valor de tu paquete">
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary">Agregar seguro</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="header">
                <h2>Cotizacion</h2>
            </div>
            <hr>
            <ul>
                <li>Distancia</li>
                <li>Tiempo estimado</li>
                <li>Seguro</li>
            </ul>
            <button class="btn btn-outline-primary send" type="submit">Enviar</button>
        </form>
    </div>
{% endblock %}