header {
    padding: 20px 0;
    z-index: 10;
    background: linear-gradient(45deg,  #bdd7e7, #3182bd);
    box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.75);
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ff6600;
}