* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(255, 255, 255);
}

.grid-container>* {
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}

.grid-container {
    display: grid;
    gap: 10px;
    grid-template:
        "header   header" 70px
        "contenido aside" auto
        "footer   footer" 60px /
        70% auto;
}

/*--------------------------NAVBAR CABECERA--------------------------*/
.contenedor {
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;

}

.logo {

    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.logo a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
}

.contenedor ul {
    display: flex;
}

.header_logo {
    height: 2.5rem;
    margin-right: 1em;
}

.header_links {
    list-style-type: none;
    align-items: center;
}

.header_list a {
    text-decoration: none;
    margin: 0 1em;
    color: black;
    font-size: 20px;
}


.header_list a:hover {
    color: #b9b9b9;
    transition: 0.3s;
}

.header_list .active {
    color: white;
}

.header {
    grid-area: header;
    z-index: 10;
    background: linear-gradient(45deg,  #bdd7e7, #3182bd);
    width: 100%;
    position: fixed;
    box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.75);
}


/*--------------------------CUERPO PRINCIPAL--------------------------*/
.section{
    grid-area: contenido;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;  
        
}
section .titulo{
    width: 100%;
    margin: 0 auto;
}

.contenido{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;    
}

.sect-cont{
    
    background-color: rgba(233, 232, 238, 0.726);
    box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.356);
    border-radius: .5rem;
    display: flex;
    text-align: justify;
    width: 30%;
    margin: 0 .5em;
    margin-top: 2rem;
    
    
}

.contenido{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    
}
.subtitulo{
    padding: 1em;
    background-color: rgba(107,174,214);
    color: white;
    width: 100%;
    height: 6rem;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    

}

.section .titulo h3 {
    font-weight: 300;
    font-style: italic;
}

.texto{
    margin: 1em;
}
.calculadora{
    background-color: rgba(107,174,214);
    color:white;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    display: flex;
    justify-content: center;
    text-align: center;    
    flex-wrap: wrap;
    padding: 1em;
    margin-top: auto;
    width: 100%;
   
}
.botones{
    width: 40%;
    height: 1.8rem;
    border-radius: .5rem;
    margin: 1em .2em;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(rgba(2, 162, 255, 0.836), rgba(2, 10, 43, 0.664));
    color: white;
}
.botones:hover{
    width: 42%;
    height: 1.9rem;
    margin: .5em .05em;
    font-size: 14px;
}
.celda{
    border-radius: .5rem;
    padding: .3em;
}

h1{
    font-size: 30px;
}
.menu{
    color: white;
    
}
/*--------------------------ASIDE----------------------------*/
.aside {
    grid-area: aside;
}

.foto_aside {
    width: 100%;
}

/*--------------------------FOOTER--------------------------*/
.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    background: rgb(8,81,156);
}   

.footer_links {
    display: flex;
    list-style-type: none;
}

.footer_list img {
    height: 25px;
    width: auto;
    padding: 0 10px;

}

/*----------------MEDIAS QUERIES--------------*/

@media screen and (max-width: 1050px) and (min-width:900px) {
    .sect-cont{
        width: 100%;
    }

    .form{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        text-align: center;  
        
    }
    .botones{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1em;
    }
    .section {
        margin-top: 2rem;
    }
    .aside{
        margin-top: 2rem;
    }
    @media screen and (max-width: 923px) and (min-width:900px) {
        .section {
            margin-top: 4rem;
        }
        .aside{
            margin-top: 4rem;
        }
    }

}
@media screen and (max-width: 899px) and (min-width:730px) {
    .grid-container {
        grid-template:
            "header   " 70px
            "contenido " auto
            "footer   " 60px
    }

    .aside {
        display: none;
    }
    .section {
        margin-top: 4rem;
    }
}

@media screen and (max-width: 729px) and (min-width:461px) {
    .grid-container {
        grid-template:
            "header   " 70px
            "contenido " auto
            "footer   " 60px
    }
    .sect-cont{
        width: 100%;
    }

    .form{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        text-align: center;  
        
    }
    .botones{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1em;

    }
    .contenedor ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .header_list {
        margin-bottom: .2em;
    }

    .contenedor {
        flex-direction: row-reverse;
    }

    .aside {
        display: none;
    }

    .section {
        margin-top: 5.5rem;
    }
}

 @media screen and (max-width: 460px) and (min-width:270px) {
    .grid-container {
        grid-template:
            "header   " 70px
            "contenido " auto
            "footer   " 60px
    }
    .sect-cont{
        width: 100%;
    }

    .form{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        text-align: center;  
        
    }
    .botones{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1em;

    }
    .contenedor ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .header_list {
        margin-bottom: .2em;
    }

    .contenedor {
        flex-direction: row-reverse;
        margin: 0;
    }

    .logo a h1 {
        display: none;
    }

    .header_logo {
        height: 5rem;
        margin-right: 1em;
    }

    .aside {
        display: none;
    }

    .section {
        margin-top: 5.5rem;
    }
}

@media screen and (max-width: 269px){
    .grid-container {
        grid-template:
            "header   " 70px
            "contenido " auto
            "footer   " 60px
    }
    .sect-cont{
        width: 100%;
    }

    .form{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        text-align: center;  
        
    }
    .botones{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1em;

    }
    .contenedor ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .header_list {
        margin-bottom: .2em;
    }

    .contenedor {
        flex-direction: row-reverse;
        margin: 0;
    }

    .logo a {
        display: none;
    }

    .header_logo {
        height: 5rem;
        margin-right: 1em;
    }

    .aside {
        display: none;
    }

    .section {
        margin-top: 5.5rem;
    }

}