{% extends 'core/base.html' %}

{% block title %} Codo a Codo - Logística - Clientes {% endblock %}

{% if request.user.is_authenticated %}

    {% load static %}

    {% block links %}
        <link rel="stylesheet" href="{% static 'core/styles/clientes.css' %}">
        <script src="{% static 'core/js/clientes.js' %}"></script>

    {% endblock %}

    {% block content %}
    <a name="" id="" class="btn btn-primary" href="{% url 'registrar_pedido' %}" role="button" > <i class="fa-solid fa-circle-plus"></i>Nuevo Pedido</a>

        {% if object_list %}
            <br><h3>Panel de Clientes</h3>
            <br><p>Éstas son los pedidos que ha solicitado.</p><br>



            <table class="table table-responsive w-100">
                <thead>
                    <tr>
                        {% for header in headers %}
                            <td>{{ header }}</td>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in object_list %}
                        <tr>
                            <td>{{ row.pedido.idpedido }}</td>
                            <td>{{ row.id }}</td>
                            <td>{{ row.pedido.fecha_creacion|date:"d/m/Y" }}</td>
                            <td>Peso: {{ row.peso }} <br> Ancho: {{ row.ancho }} <br> Largo: {{ row.largo }} <br> Alto: {{ row.alto }}</td>
                            <td>{{ row.pedido.domicilio }}</td>
                            <td>{{ row.pedido.get_estado }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>




            <table class="table table-responsive w-100">
                <thead>
                    <tr>
                        {% for header in pedidos.headers %}
                            <td>{{ header }}</td>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in pedidos.rows %}
                        <tr>
                            {% for col in row %}
                                <td>{{ col }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Todavía no ha solicitado un pedido de envío.</p>
        {% endif %}

    {% endblock %}

{% else %}

    <p>No tiene permiso para acceder a esta pagina.</p>

{% endif %}