{% extends 'core/base.html' %}

{% block title %} Codo a Codo - Logística - Clientes {% endblock %}

{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'core/styles/clientes.css' %}">
    <script src="{% static 'core/js/clientes.js' %}"></script>

{% endblock %}

{% block content %}

    <h3>Panel de Clientes</h3><br>

    <section class="section">
        <div class="formulario p-1">
            <form action='{% url "clientes" %}' method="POST" id="form">
                {% csrf_token %}
                <h2>Domicilio de destino</h2>
                {{ domicilio_form.as_p }}
                {{ pedido_form.as_p }}
                <h2>Datos del paquete</h2>
                {{ paquete_form.as_p }}
                <button type="submit">Enviar</button>
            </form>
        </div>
    </section>
    
{% endblock %}