{% extends 'core/base.html' %}

{% block title %} Codo a Codo - Logística - Empleados {% endblock %}

{% if request.user.is_authenticated %}

    {% load static %}

    {% load custom_filters %}

    {% block links %}
        <link rel="stylesheet" href="{% static 'core/styles/empleados.css' %}">
    {% endblock %}

    {% block content %}

        {% if object_list %}
            <br><h3>Panel de Empleados</h3>
            <br><p>Éstas son las entregas que tiene asignadas al {{ fecha|format_date }}.</p><br>
            <table class="table table-responsive w-100">
                <thead>
                    <tr>
                        {% for header in headers %}
                            <td>{{ header }}</td>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for pedido in object_list %}
                        <tr>
                            <td>{{ pedido.idpedido }}</td>
                            <td>{{ pedido.fecha_creacion|date:"d/m/Y" }}</td>
                            <td>{{ pedido.domicilio.calle }} nro: {{ pedido.domicilio.numero }} piso: {{ pedido.domicilio.piso }} dpto: {{ pedido.domicilio.departamento }}</td>
                            <td>{{ pedido.domicilio.localidad.nombre }} / {{ pedido.domicilio.localidad.provincia.nombre }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Por ahora no tiene entregas asignadas.</p>
        {% endif %}

    {% endblock %}

{% else %}

    <p>No tiene permiso para acceder a esta pagina.</p>

{% endif %}