{% extends 'core/base.html' %}

{% load static %} 

{% block links %} 
    <link rel="stylesheet" href="{% static 'core/styles/cliente.css' %}"> 
    <script src="{% static 'core/js/login.js' %}"></script>
{% endblock %} 

{% block content %}

    <div class="container">
        <form action="" method="post" class="login-form">
            <h2>Registrarse</h2>
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Continuar</button>
        </form>
    </div>

{% endblock %}