{% extends 'core/base.html' %}

{% block title %} Codo a Codo - Logística - Clientes {% endblock %}

{% if request.user.is_authenticated %}

    {% load static %}

    {% block links %}
        <link rel="stylesheet" href="{% static 'core/styles/clientes.css' %}">
        <script src="{% static 'core/js/clientes.js' %}"></script>

    {% endblock %}

    {% block content %}

        <h3>Formulario de Pedido de Envío</h3><br>

        <section class="section">
            <div class="formulario p-1">
                <form action="" method="POST" id="form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Enviar</button>
                </form>
            </div>
        </section>

    {% endblock %}

{% else %}

    <p>No tiene permiso para acceder a esta pagina.</p>

{% endif %}