<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crea tu pedido</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>    
</head>
<body>
    <div class="container">
        <form action="/crear_pedido/" method="POST" id="myForm">
            {% csrf_token %}
            {% form %}
            <!--
                <div class="header">
                <h2>Crear envío</h2>
            </div>
            <div class="servicios">
                <h3>Tipo de envío (servicio)</h3>
                {{ form.servicios.label }}{{ form.servicios }}
            </div>
            <div class="tipo">
                <h3>Tipo de paquete</h3>
                <div class="section">
                    {{ form.paquete.label }}{{ form.paquete }}<br>
                    {{ form.referencia.label }}{{ form.referencia }}
                    {{ form.comentarios.label }}{{ form.comentarios }}
                </div>
            </div>
            <div class="rutaDeEntrega">
                <h3>Ruta de entrega</h3>
                <div class="section">
                    <h4>Donde recojemos?</h4>
                    <div>
                        {{ form.dom1.label }}: {{ form.dom1 }}
                        {{ form.cp1.label }}: {{ form.cp1 }}
                        {{ form.nroExt1.label }}: {{ form.nroExt1 }}
                        {{ form.nroInt1.label }}: {{ form.nroInt1 }}
                        <h4>Datos de quien entrega</h4>
                        {{ form.nombre1.label }}: {{ form.nombre1}}
                        {{ form.telefono1.label }}: {{ form.telefono1 }}
                    </div>
                    <h4>Donde entregamos?</h4>
                    <div>
                        {{ form.dom1.label }}: {{ form.dom1 }}
                        {{ form.cp1.label }}: {{ form.cp1 }}
                        {{ form.nroExt1.label }}: {{ form.nroExt1 }}
                        {{ form.nroInt1.label }}: {{ form.nroInt1 }}
                        <h4>Datos de quien recibe</h4>
                        {{ form.nombre1.label }}: {{ form.nombre1}}
                        {{ form.telefono1.label }}: {{ form.telefono1 }}
                </div>
            </div>
        <button type="submit">Enviar</button>
            -->
    </form>
</body>
</html>
