{% block title %} Codo a Codo - Logística - Servicios {% endblock %}

{% load static %}

{% include 'core/base.html' %}

{% block links %}
    <link rel="stylesheet" href="{% static 'core/styles/servicios.css' %}">
{% endblock %}



{% block content %}

    <section class="section">
        <article class="titulo">
            <h1>NUESTROS SERVICIOS</h1>
            <h3>Somos líder en el mercado</h3>
        </article>
        <div class="sect-cont">
            <div class="contenido">
                <div class="subtitulo">
                    <h3>COURIER - MENSAJERÍA - CADETES FIJOS</h3>
                </div>
                <div class="texto">
                    <p>Ofrecemos el servicio de moto mensajería empresarial. Realizamos todo tipo de trámites y
                        gestiones
                        cotidianas de forma rápida y eficiente. Podemos reducir costos y optimizar los recursos de
                        nuestros
                        clientes. Nos caracterizamos por la responsabilidad con la que asumimos el trabajo, el tiempo de
                        respuesta y la calidad de nuestro servicio. Tenemos un staff fijo, altamente capacitado y
                        confiable.
                        Brindamos una gran cobertura en CABA Y TODO EL GBA.</p>
                </div>
                <div class="calculadora">
                    <div class="titulo_calcu">
                        <h3>Calcule su presupuesto</h3>
                    </div>

                    <div class="form-calc">
                        <form action="" class="form">
                            <div>
                                <label for="">Ingrese los Km aproximados</label>
                                <br>
                                <input type="number" class="celda" id="n1">
                            </div>
                            <div class="form">
                                <button type="button" class="botones" onclick="calculadora('c_m_c')">Calcular</button>
                                <button type="button" class="botones" onclick="limpiar('c_m_c')">Limpiar</button>
                            </div>
                            <div>
                                <label for="">Precio aproximado</label>
                                <br>
                                <input type="number" name="resultado" class="celda" id="resultado" readonly>
                                <label for="">$</label>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
        <div class="sect-cont">
            <div class="contenido">
                <div class="subtitulo">
                    <h3>TRASNPORTES Y CARGAS</h3>
                </div>
                <div class="texto">
                    <p>Contamos con Utilitarios (Mini Fletes), Camionetas y Camiones urbanos y transportes para cargas
                        pesadas de larga distancias2
                        Traslados de mercancías en utilitarios mini fletes (hasta 500 kg).
                        Camionetas Urbanas tipo Master, F100, Boxer, Sprinter, Iveco hasta 3500kg.
                        Camiones Urbanos desde 3000 hasta 8000 kg agiles en CABA Y GBA.
                        Transporte pesado. Camiones Semis, playos, chasis, térmicos. Viajamos a todo el País.</p>
                </div>
                <div class="calculadora">
                    <h3>Calcule su presupuesto</h3>

                    <div class="form-calc">
                        <form action="" class="form">
                            <div>
                                <label for="">Ingrese los Km aproximados</label>
                                <br>
                                <input type="number" class="celda" id="n2">
                            </div>
                            <div class="form">
                                <button type="button" class="botones" onclick="calculadora('t_c')">Calcular</button>
                                <button type="button" class="botones" onclick="limpiar('t_c')">Limpiar</button>
                            </div>
                            <div>
                                <label for="">Precio aproximado</label>
                                <br>
                                <input type="number" name="resultado" class="celda" id="resultado2" readonly>
                                <label for="">$</label>
                            </div>

                        </form>
                    </div>

                </div>

            </div>
        </div>
        <div class="sect-cont">
            <div class="contenido">
                <div class="subtitulo">
                    <h3>E-COMMERCE Y DISTRIBUCION DE PAQUETERIA</h3>
                </div>
                <div class="texto">
                    <p>Recibimos, organizamos, ruteamos y entregamos paquetería en todo el AMBA.
                        Retiro de productos en el domicilio.
                        Entrega de tu producto en el domicilio del comprador.
                        Seguimiento de los envíos.
                        Depósito para utilizar como pickup store, lo cual tiene el beneficio de reducir costo de
                        entregar en domicilio.
                        Remito por cada envío que garantiza el seguimiento y correcta entrega del producto.
                        Beneficios por consolidación de varios paquetes a un mismo destinatario.
                        Beneficios para clientes con volumen de envíos.
                        Logística inversa.</p>
                </div>
                <div class="calculadora">
                    <h3>Calcule su presupuesto</h3>

                    <div class="form-calc">
                        <form action="" class="form">
                            <div>
                                <label for="">Ingrese los Km aproximados</label>
                                <br>
                                <input type="number" class="celda" id="n3">
                            </div>
                            <div class="form">
                                <button type="button" class="botones" onclick="calculadora('e_d')">Calcular</button>
                                <button type="button" class="botones" onclick="limpiar('e_d')">Limpiar</button>
                            </div>
                            <div>
                                <label for="">Precio aproximado</label>
                                <br>
                                <input type="number" name="resultado3" class="celda" id="resultado3" readonly>
                                <label for="">$</label>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </section>

{% endblock %}