*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    margin-bottom: 0;
}
h3{
    font-size: 1.125rem;
}
p{
    line-height: 1.25rem;
}
.container {
    display: flex;
}
form{
    background-color: aliceblue;
    margin: 1rem;
    padding: 2rem;
    display: flex; 
    margin: 1rem auto; 
    flex-direction: column; 
    width: 60vw;
}
.header, .interactivo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0.5rem;
}
.section{
    padding: 0 1.5rem;
    line-height: 0.5rem;
}
hr {
    margin-top: 0.25rem;
    height: 0.5px;
    background-color: grey;
    width: 100%;
}
label{
    margin: 0.5rem 0;
}
select,
.shortInput {
    width: 50%;
}
.nameContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
p{
    margin: 0.5rem 0;
}
textarea {
    resize: none;
}
.send{
    margin: 1rem 0;
    width: 15rem;
    align-self: center;
}
ul{
    padding-left: 0.5rem;
    list-style: none;
}