/*--------------------------NAVBAR CABECERA--------------------------*/

.header {
    grid-area: header;
    z-index: 10;
    background: linear-gradient(45deg,  #bdd7e7, #3182bd);
    position: fixed;
    width: 100%;
    box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.75);
}


/*--------------------------CUERPO PRINCIPAL--------------------------*/
.section {

    grid-area: contenido;
    color: rgb(0, 0, 0);
    display: grid;
    gap: 20px;
    grid-template:
        "titulo" 60px
        "cuerpo" auto;
}



.section .formulario {
    margin-top: 3rem;
    grid-area: cuerpo;
    background-color: rgb(107,174,214);
    border-radius: 1rem;
    box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.5);
    /* width: 782px; */

}

/*--------CORREO---------*/  
#correo{
    opacity:0;
}
/*--------------------------ASIDE----------------------------*/



/*--------------------------FOOTER--------------------------*/




@media screen and (max-width: 970px) and (min-width:814px) {
    .grid-container {
        grid-template:
            "header   " 70px
            "contenido " auto
            "footer   " 60px
    }

    .aside {
        display: none;
    }
    .section{
      margin-top: 4rem;
    }

}
@media screen and (max-width: 813px) and (min-width:400px) {
    .grid-container {
        grid-template:
            "header   " 70px
            "contenido " auto
            "footer   " 60px
    }
    .aside {
        display: none;
    }
    .contenedor ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .header_list {
        margin-bottom: .2em;
    }

    .contenedor {
        flex-direction: row-reverse;
    }
    
    .section{
        margin-top: 6.5rem;
    }

}

@media screen and (max-width:399px) and (min-width:270px) {
    .grid-container {
        grid-template:
            "header   " 70px
            "contenido " auto
            "footer   " 60px
    }

    .contenedor ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .header_list {
        margin-bottom: .2em;
    }

    .contenedor {
        flex-direction: row-reverse;
        margin: 0;
    }
    .logo a h1{
        display: none;
    }

    .header_logo {
        height: 5rem;
        margin-right: 1em;
    }
    .section{
        margin-top: 7.5rem;
    }

    .aside {
        display: none;
    }
}

@media screen and (max-width:270px) {
    .grid-container {
        grid-template:
            "header   " 70px
            "contenido " auto
            "footer   " 60px
    }

    .contenedor ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .header_list {
        margin-bottom: .2em;
    }

    .contenedor {
        flex-direction: row-reverse;
        margin: 0;
    }
    .logo a{
        display: none;
    }


    .section {
        margin-top: 7.5rem;
    }

    .aside {
        display: none;
    }
}

/*--------FORMULARIO---------*/
label {
	display: block;
	margin-bottom: 1px;
    margin-top: 8px;
    
}

.inputtex{
    /* height: 22px; */
    width: 100%;
}

#tdNombre{
     width: 10%; 
     text-align: left;
     padding-left: 30px;
}

textarea{
    width: 100%;
    /* padding-left: 30px; */
}
table{
    width: 100%;
}

#tdInput{
    padding-right: 30px;
    /* column-count: 4;
    column-gap: 100%; */
}
.mitad{
    width: 50%;
}
label{
    font-weight: bold;
}

#cargar{
    width: 50px;
}

#btn{
    font-size: 20px;
    font-weight: bold;
}

button{
    margin-top: 20px;
}

h1{
    font-size: 30px;
}



.coment{
    padding-left: 30px;
    padding-right: 30px;
}

@media screen and (max-width: 600px){
    tr{
        display: grid;
        grid-template-columns: repeat(2, minmax(140px, 1fr));
        grid-gap:5px;
        grid-template-columns: 30% 70%;
    }
    #tdNombre{
        max-width: 100px;
    }

}
  
  .form-input {
    display: block;
    width: 100%;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    padding: 2x 5px;
    box-shadow: 1px 1px 2px 0 rgba(51, 51, 51, 0.2) inset;
    background-color: #fff;
    background-clip: padding-box;
    color: #999;
    font-size: 16px;
    font-weight: normal;
    transition: all 250ms;
  }
  .form-input::-moz-placeholder {
    color: #999;
  }
  .form-input:-ms-input-placeholder {
    color: #999;
  }
  .form-input::placeholder {
    color: #999;
  }
  .form-input:focus:required {
    border-color: #02ffd0;
    outline: 0 none;
  }
  .form-input:required:-moz-placeholder-shown {
    border: 1px solid #e8e8e8;
  }
  .form-input:required:-ms-input-placeholder {
    border: 1px solid #e8e8e8;
  }
  .form-input:required:placeholder-shown {
    border: 1px solid #e8e8e8;
  }
  .form-input:required:not(:-moz-placeholder-shown):invalid {
    border: 1px solid red;
    color: red;
    box-shadow: 0 0 0 1px;
  }
  .form-input:required:not(:-ms-input-placeholder):invalid {
    border: 1px solid red;
    color: red;
    box-shadow: 0 0 0 1px;
  }
  .form-input:required:not(:placeholder-shown):invalid {
    border: 1px solid red;
    color: red;
    box-shadow: 0 0 0 1px;
  }
  .form-input:required:not(:-moz-placeholder-shown):valid {
    border: 1px solid #04a718;
    color: #04a718;
    box-shadow: 0 0 0 1px;
  }
  .form-input:required:not(:-ms-input-placeholder):valid {
    border: 1px solid #04a718;
    color: #04a718;
    box-shadow: 0 0 0 1px;
  }
  .form-input:required:not(:placeholder-shown):valid {
    border: 1px solid #04a718;
    color: #04a718;
    box-shadow: 0 0 0 1px;
  }
  .form-input:required:focus:invalid {
    border: 1px solid red;
    color: red;
    box-shadow: 0 0 0 1px;
  }
  
  .form {
    max-width: 30rem;
    margin: 2rem auto;
  }
  .form-group {
    margin-bottom: 24px;
  }
  .form-group label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
  }
  .form-group--submit {
    display: flex;
    justify-content: flex-end;
  }
  .form-input:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
  .form-button {
    padding: 0.5rem 1rem;
    font-size: 1.125rem;
    cursor: pointer;
    background: linear-gradient(rgba(2, 162, 255, 0.836), rgba(2, 10, 43, 0.664));
    border-radius: 0.5rem;
    margin: 1em 0.2em;
    transition: background-color 300ms;
    color: white;

  }
  .form-button:hover, .form-button:focus {
    background-color: #3e718f;
  }
  .form textarea.form-input {
    height: 20rem;
    resize: none;
  }

 #errorName{
    display: none;
    font-size: 12px;
    line-height: 0.5;
    color: white;
    position: absolute;
    background: red;
    padding: 6px;
  }

  #errorName::before{
    content: 'Nombre invalido';
  }

  #errorLastname{
    display: none;
    font-size: 12px;
    line-height: 0.5;
    color: white;
    position: absolute;
    background: red;
    padding: 6px;
  }

  #errorLastname::before{
    content: 'Apellido invalido';
  }

  #errorDNI{
    display: none;
    font-size: 12px;
    line-height: 0.5;
    color: white;
    position: absolute;
    background: red;
    padding: 6px;
  }

  #errorDNI::before{
    content: 'DNI invalido';
  }

  #errorMail{
    display: none;
    font-size: 12px;
    line-height: 0.5;
    color: white;
    position: absolute;
    background: red;
    padding: 6px;
  }

  #errorMail::before{
    content: 'Mail invalido';
  }
  
  #errorMSG{
    display: none;
    font-size: 12px;
    line-height: 0.5;
    color: white;
    position: absolute;
    background: red;
    padding: 6px;
  }

  #errorMSG::before{
    content: 'Por favor completar el campo de ¿Por qué queres trabajar con nosotros?';
  }
  
  #errorFile{
    display: none;
    font-size: 12px;
    line-height: 0.5;
    color: white;
    position: absolute;
    background: red;
    padding: 6px;
  }

  #errorFile::before{
    content: 'Por favor cargar el curriculum';
  }

  .section {
    grid-template: auto;
}